*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border: 1px, solid, #355b3e;
    background-color: #355b3e;
}

main{
    border: 1px, solid, #5d7c64;
    background-color: #5d7c64;
    height: 1185px;
}

footer{
    border: 1px, solid, #a5dab1;
    background-color: #a5dab1;
}

h2{
    width: 200px;
    text-align: center;
    border: 1px, solid,#75ae82;
    border-radius: 60%;
    background-color:#75ae82;
    color: white;
    margin: 0px auto;
}

li{
    margin: 20px;
}

p{
    margin: 10px;
}

a{
    font-family: fantasy;
    color: darkslategray;
}